@font-face {
  font-family: trajan;
  src: url(../font/Trajan\ Bold.ttf);
}

#logo {
  height: 200px;
  width: 300px;
}
body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

  main {
    flex: 1 0 auto;
  }

  .carousel {
    height: 600px;
    perspective: 1000px;
  }
  
  .carousel .carousel-item {
    left: -200px;
  }
  .carousel .carousel-item > img {
    width: 300%;
  }

  #port, 
  .gif {
    color: #416cb4;
    font-family: trajan;
  }

  .center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 75%;

  }

  .index {
    font-family: trajan;
  }

  p {
    font-family: 'Simonetta', cursive;
    font-size: 20px;
  }
